html{
    box-sizing: border-box; 
   }
   *,*::before,*::after{
       box-sizing: inherit;
   }
   body{
    font-family: 'Ibarra Real Nova';
    font-size: 20px;
    color: #484848;
   }
   /*HEADER*/
   .wrapper{
    max-width: 1370px;
    margin: 0 auto;
   }
   .g_header{
    position: fixed;
    z-index: 100;
    top: 0; 
    width: 100%;
    background-color: #fff;
   }
   
   .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    align-items: center;
   }
   .menu_list{
    display: flex;
   }
   .list{
    display:flex ;
   }
   .list a{
    position: relative;
   }
   .list a::after{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: #01996D;
    transition:width 0.3s ease-out;
    
   }
   .list a:hover::after , .list a:focus::after{
    width: 100%;
   }
   .list li{
    margin-right: 72px;
   }
   .list a:hover{
    color: #01996D;
    
   }
   .list li:last-child{
    margin-right: 0;
    
   }
   .menu_right{
    display: flex;
   }
   a{
    text-decoration: none;
    color:#292929 ;
   }
   .twot{
     padding: 13px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px; 
    margin-left: 35px;
   }
  
   
   .twot:hover{
    color: white;
    background-color: #0d785a;
   }
   .one{
    display: flex;
    align-items: center;
    margin-left: 150px;
    
   }
   .one a:hover{
    color: #01996D;
   }
   /*HEADER*/



   /*MAIN*/
   main{
    padding-top: 60px;
   }
   
   
    .section{
    background: url(../img/BG.png) no-repeat center  ;
    background-size: cover;
    width: 100%; 
    height:100vh;
    padding-top: 98px;
    margin-bottom: 100px;
    
   } 
   .content{
    width: 440px;
    height: 385px; 
    padding-top: 160px;
    margin-top: -160px;
   }
   .title{
    font-weight: 700;
    color:  #01996D;
    font-size: 65px;
    margin-bottom: 30px;
    width: 440px;
   }
   .text{
    width: 420px;
    line-height: 30px;
    margin-bottom: 60px;
   }
   .butto{
    padding: 20px 50px;
    background-color:  #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
   }
   .butto:hover{
    background-color: #0d785a;
    color: white;
   }
.title_t{
    padding-top: 100px;
    margin-top: -100px;
    font-weight: 700;
    font-size: 24px;
    color: #424242;
    margin-bottom: 10px;
}
.top_two{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    
}
.text_one{
    width: 520px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #01996D;

}
.text_two{
    width: 671px;
    line-height: 30px;

}
.photocard_one{
    width: 390px;
}
.photocard_two{
    width: 390px;
    margin-top: 15%;
    margin-bottom: 50px;
    
}
.photocard_three{
    width: 390px;
}
.bottom_three{
    display: flex;
    justify-content: space-between;
}
.photocard_one>h3,.photocard_two>h3,.photocard_three>h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    position: relative;
}

.photocard_one>h3::before{
    content: "";
    position: absolute;
    left: 20px;
    top: -100px;
    width: 150px;
    height: 220px;
    background-size: 150px 220px;
    background-image: url('../img/svg/01.svg');
  }
  .photocard_two>h3::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -100px;
    width: 150px;
    height: 220px;
    background-size: 150px 220px;
    background-image: url('../img/svg/02.svg');
  }
  .photocard_three>h3::before{
    content: "";
    position: absolute;
    left: 110px;
    top: -50px;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-image: url('../img/svg/03.png');
  }

.photocard_one>p,.photocard_two>p,.photocard_three>p{
    color: #424242;
    margin-bottom: 30px;
    height: 100px;
}
.video_block_content{
    padding-top: 270px;
    display: flex;
    justify-content: space-between;
    
    
    
}
.video_block{
    background-color: #245852;
    width: 100%;
    height: 100vh;  
}
.video_text>h2{
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    line-height: 50px;
    width: 580px;
    margin-bottom: 30px;
}
.video_text>p{
    font-weight: 700;
    color: #fff;
    width: 550px;
    margin-bottom: 50px;
}
.video_text>a{
    color: #292929;
    padding: 20px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    text-decoration: none;
}

.video_text{
    width: 500px;
    height: 350px;

}
.buttonq:hover{
    background-color: #0d785a;
    color: white;
}
.portfolio_block{
    width: 100%;
    height: 100vh;
}
.portfolio_content{
    padding-top: 120px;
    display: flex;
    justify-content: center;
}
.portfolio_photo img{
   width: 600px;
   height: 530px;
}
.portfolio_photo{
    width: 640px;
   height: 570px;
   position: relative;
}
.portfolio_photo::before{
    content: "";
    position: absolute;
    bottom: -55px;
    left: -55px;
    background-image: url(../img/Card.png);
    width: 300px;
    height: 300px;
    background-size: 300px 300px;
}
.portfolio_text_suptitle{
    font-weight: 700;
    font-size: 25px;
    color: #424242;
    margin-bottom: 10px;
}
.portfolio_text_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color:  #01996D;
    margin-bottom: 20px;
}
.portfolio_text{
    width: 585px;
    margin-left: 45px;
}
.portfolio_text_text{
    color: #484848;
    margin-bottom: 60px;
}
.portfolio_text_button{
    padding: 20px 50px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4%;
    color: #424242;
}
.portfolio_text_button:hover{
    background-color: #0d785a;
    color: white;
}
.footer_block{
    height: 454px;
    width: 100%;
    background-color: #245852;
    margin-top: 100px;
}
.footer_block_list{
    padding-top: 65px;
    padding-left: 175px;
}
.ftl{
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
}
.ftl:hover{
    color: rgb(186, 183, 183);
}


  







   

   
   


